<div class="container">
  <h1 class="title">Générateur de mot de passe</h1>
  <div class="password">
    <h2 class="subtitle">Mot de passe generé</h2>
    <div class="group"><span class="password-text">123</span>
      <div class="password-tools">
        <img src="../assets/copy.png" width="24px" height="24px">
        <img src="../assets/reload.png" width="24px" height="24px">
      </div>
    </div>
  </div>
  <div class="character-length">
    <h2 class="subtitle">Nombre de caractères
    <div class="character-counter">23</div>
    </h2>
    <div class="group">
      <span class="group-text">0</span>
      <input type="range" class="slide">
      <span class="group-text">32</span>
    </div>
  </div>
  <div class="settings">
    <h2 class="subtitle">Réglages</h2>
    <div class="group">
      <span class="group-text">Inclure lettres majuscules</span>
      <input class="checkbox" type="checkbox" name="uppercase">
    </div>
    <div class="group">
      <span class="group-text">Inclure lettres minuscules</span>
      <input class="checkbox" type="checkbox" name="lowcase">
    </div>
    <div class="group">
      <span class="group-text">Inclure chiffres</span>
      <input class="checkbox" type="checkbox" name="number">
    </div>
    <div class="group">
      <span class="group-text">Inclure symboles</span>
      <input class="checkbox" type="checkbox" name="symbol">
    </div>

  </div>
    <button class="action-button">Générer mot de passe</button>
</div>